#videoBg {
       position : fixed;
       right: 0;
       bottom: 0;
       width: auto;
       min-width: 100%;
       height: auto;
       min-height: 100%;
       z-index: -100%;
       background: url(capture.jpg) no-repeat;
       background-size : cover;
       opacity:0.3;
}

@media (max-width: 800px) {
    body { 
        background: url(capture.jpg) no-repeat
                fixed center #000;
                background-size: cover;
    }
    #videoBg { 
        display: none;
    }
}
